/SingleNumber.class
/RotateArray.class
/isPalindrome.class
/FirstUniqueChar.class
/LongestCommonPrefix.class
/DetectCapital.class
/ReverseVowelString.class
/Equivalent_Strings.class
/Prime_Time.class
